<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <!-- CodeMirror CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror.min.css') }}">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    {% if error %}
        <div class="alert alert-danger alert-container" id="errorAlert" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <h1 class="text-center mb-4">File Upload</h1>
    <form action="{{ url_for('quiz_add') }}" method="post" enctype="multipart/form-data" class="mb-4">
        <div class="form-group">
            <label for="Name" class="form-label">Choose files to upload:</label>
            <input type="text" id="Name" name="name" class="form-control-file" required>
        </div>
        <div class="form-group">
            <label for="Description" class="form-label">Choose files to upload:</label>
            <input type="text" id="Description" name="description" class="form-control-file" required>
        </div>
        <div class="form-group">
            <label for="jsonUpload" class="form-label">Choose files to upload:</label>
            <input type="file" id="jsonUpload" name="json" class="form-control-file" required>
        </div>
        <div class="form-group">
            <label for="imageUpload" class="form-label">Choose files to upload:</label>
            <input type="file" id="imageUpload" name="images" multiple class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary btn-custom">Submit</button>
    </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<!-- CodeMirror JS -->
<script src="{{ url_for('static', filename='codemirror.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascript.min.js') }}"></script>
</body>
</html>
