<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ quiz['title'] }}</title>
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <style>
        .clickable-option {
            display: block;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .clickable-option:hover {
            background-color: #f8f9fa;
        }

        .form-check-input {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <!-- Title -->
    <h1 class="text-center">{{ quiz['title'] }}</h1>
    <!-- Subtitle -->
    <p class="text-center text-muted">{{ quiz['subtitle'] }}</p>

        <form id="quizForm" action="{{ url_for('submit', entrance_id=entrance_id) }}" method="post">
        {% for question in quiz['questions'] %}
            <!-- Single Option -->
            {% if 'options' in question.keys() %}
                <div class="card mb-3">
                    <div class="card-header">
                        Multiple choice (One answer only)
                        <small class="text-muted d-block">Points: {{ quiz['points'] }}</small>
                    </div>
                    <div class=" card-body">
                        <p>{{ question['index'] }}. {{ question['Q']|safe }}</p>
                        {% if 'image' in question.keys() %}
                            <img
                                    src="{{ url_for('img', folder=quiz['image_folder'], filename=question['image']) }}"
                                    class="img-fluid">
                        {% endif %}
                        {% for option in question['options'] %}
                            <label class="clickable-option">
                                <input class="form-check-input" type="radio" name="{{ question['index'] }}"
                                       value="{{ option['opt'] }}">
                                {{ option['opt']|safe }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <!-- Multiple Option -->
            {% elif 'multioptions' in question.keys() %}
                <div class="card mb-3">
                    <div class="card-header">
                        Multiple choice (Not only one answer)
                        <small class="text-muted d-block">Points: {{ quiz['points'] }}</small>
                    </div>
                    <div class="card-body">
                        <p>{{ question['index'] }}. {{ question['Q']|safe }}</p>
                        {% if 'image' in question.keys() %}
                            <img
                                    src="{{ url_for('img', folder=quiz['image_folder'], filename=question['image']) }}"
                                    class="img-fluid">
                        {% endif %}
                        {% for option in question['multioptions'] %}
                            <label class="clickable-option">
                                <input class="form-check-input" type="checkbox" name="{{ question['index'] }}"
                                       value="{{ option['opt'] }}">
                                {{ option['opt']|safe }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <!-- Input question -->
            {% elif 'itext' in question.keys() %}
                <div class="card mb-3">
                    <div class="card-header">
                        Fill in the blank
                        <small class="text-muted d-block">Points: {{ quiz['points'] }}</small>
                    </div>
                    <div class="card-body">
                        <p>{{ question['index'] }}. {{ question['Q']|safe }}</p>
                        {% if 'image' in question.keys() %}
                            <img
                                    src="{{ url_for('img', folder=quiz['image_folder'], filename=question['image']) }}"
                                    class="img-fluid">
                        {% endif %}
                        <input type="text" class="form-control" name="{{ question['index'] }}"
                               placeholder="Input your answer here">
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary mb-5">Submit</button>
    </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>
